
 div.container-fluid{
	width:100%;
	background-color:grey;
	border:1px solid blue;
 }
#main-nav > ul {
  list-style: inside none;
}
#main-nav > ul > li {
	width:100%;
	list-style:none;
	
}
#main-nav > ul > li > a {
  outline: none;
  display: block;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #080808;
  color: #ffffff;
  padding: 12px 20px;
 
}

#main-nav > ul > li.sub-nav> a:before {
  content: "";
  border: 5px solid transparent;
}
#main-nav,
#main-nav ul ul li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#main-nav > ul > li > a:hover {
  background: #080808;
  color: blue;
}
#main-nav > ul > li.sub-nav> a:hover:before {
  border-top: 5px solid #ffffff;
}
#main-nav > ul > li > a{
margin-left:0px;
}
div#logo{
	width:100%;
	height:80px;	
	background-color:black;
	margin-top:-15px;
}
div#logo .fa-shopping-cart{
	margin-left:85%;
	margin-top:-70px;
	padding:5px;
	height:100%;	
	position-left:relative;
	height:10%;
}
div#logo .fa-shopping-cart img:hover{
	background: violet;
    -webkit-transition: width 2s; 
    transition: width 2s;
	}
div#logo div.fa-currency{
	margin-left:75%;
	margin-top:-35px;	
}
div#logo div.fa-currency select{
	background-color:black;
	color:grey;	 
}
div#logo div.fa-currency select
div#logo div.fa-checkout{
	margin-left:-4%;
	margin-top:-1px;	 	
}
div#logo div.fa-checkout a{
	color:white;
	text-decoration:none;
}
div#logo div.fa-checkout a:hover{
	color:violet;
}
#slider{
	width:100%;
}
#main-slider1{
	width:100%;
	height:auto;
	
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div#main-slider1 { overflow: hidden; }
div#main-slider1  figure img { width: 20%; float: left; }
div#main-slider1  figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 3s slidy infinite; 
}
#main-slider1{
	width:100%;
	height:auto;
	margin-left:0%;;
	
}
div#main-slider1 { overflow: hidden; }
div#main-slider1  figure img { width: 20%; float: left; }
div#main-slider1  figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}


		











